<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>es6-practice</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="application" id="app">

    </div>
    <div class="choice-zone" id="choice-zone" v-cloak>
      <div class="price">
        <span>价格：</span>
        <span>{{stock_groups2.minPrice}}~{{stock_groups2.maxPrice}}</span>
      </div>
      <div class="colors">
        <span>颜色：</span>
        <div class="color" v-for="color in stock_groups2.colors">
          <span>{{color}}</span>
        </div>
      </div>
      <div class="sizes">
        <span>尺寸：</span>
        <div class="size" v-for="size in stock_groups2.sizes">
          <span>{{size}}</span>
        </div>
      </div>
      <div class="types">
        <span>厚度：</span>
        <div class="type" v-for="type in stock_groups2.types">
          <span>{{type}}</span>
        </div>
      </div>
      <div class="submit">
        <button type="button" name="button">加入购物车</button>
      </div>
      <div class="refresh">
        <button type="button" name="button" @click="getNewData">刷新数据</button>
      </div>
    </div>
    <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="https://google.github.io/traceur-compiler/bin/BrowserSystem.js"></script>
    <script src="https://google.github.io/traceur-compiler/src/bootstrap.js"></script>
    <script src="src/js/vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
